In [252]:
import pandas as pd
import numpy as np

In [253]:
df_game_details = pd.read_csv("games_details.csv")
df_games = pd.read_csv("games.csv")
df_players = pd.read_csv("players.csv")
df_ranking = pd.read_csv("ranking.csv")
df_teams = pd.read_csv("teams.csv")

C:\Users\Sema\AppData\Local\Temp\ipykernel_15156\3603830858.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_game_details = pd.read_csv("games_details.csv")

In [254]:

print("Game Details veri listesinde",len(df_game_details.columns)," adet sütun,", len(df_game_details),"adet satır vardır")
print("Games veri listesinde",len(df_games.columns)," adet sütun,", len(df_games),"adet satır vardır")
print("Players veri listesinde",len(df_players.columns)," adet sütun,", len(df_players),"adet satır vardır")
print("Ranking veri listesinde",len(df_ranking.columns)," adet sütun,", len(df_ranking),"adet satır vardır")
print("Teams veri listesinde",len(df_teams.columns)," adet sütun,", len(df_teams),"adet satır vardır")

Game Details veri listesinde 29  adet sütun, 645953 adet satır vardır
Games veri listesinde 21  adet sütun, 25796 adet satır vardır
Players veri listesinde 4  adet sütun, 7228 adet satır vardır
Ranking veri listesinde 13  adet sütun, 201792 adet satır vardır
Teams veri listesinde 14  adet sütun, 30 adet satır vardır

In [255]:
df_game_details.info() #Yöntemi, satır ve sütun sayısı, toplam bellek kullanımı, her sütunun veri türü ve NaN olmayan öğelerin sayısı gibi bilgileri görüntüleyebilir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645953 entries, 0 to 645952
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            645953 non-null  int64
 1   TEAM_ID            645953 non-null  int64
 2   TEAM_ABBREVIATION  645953 non-null  object
 3   TEAM_CITY          645953 non-null  object
 4   PLAYER_ID          645953 non-null  int64
 5   PLAYER_NAME        645953 non-null  object
 6   NICKNAME           30362 non-null   object
 7   START_POSITION     247215 non-null  object
 8   COMMENT            105602 non-null  object
 9   MIN                540350 non-null  object
 10  FGM                540350 non-null  float64
 11  FGA                540350 non-null  float64
 12  FG_PCT             540350 non-null  float64
 13  FG3M               540350 non-null  float64
 14  FG3A               540350 non-null  float64
 15  FG3_PCT            540350 non-null  float64
 16  FTM                540350 non-null  float64
 17  FTA                540350 non-null  float64
 18  FT_PCT             540350 non-null  float64
 19  OREB               540350 non-null  float64
 20  DREB               540350 non-null  float64
 21  REB                540350 non-null  float64
 22  AST                540350 non-null  float64
 23  STL                540350 non-null  float64
 24  BLK                540350 non-null  float64
 25  TO                 540350 non-null  float64
 26  PF                 540350 non-null  float64
 27  PTS                540350 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 142.9+ MB

In [11]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25796 non-null  object
 1   GAME_ID           25796 non-null  int64
 2   GAME_STATUS_TEXT  25796 non-null  object
 3   HOME_TEAM_ID      25796 non-null  int64
 4   VISITOR_TEAM_ID   25796 non-null  int64
 5   SEASON            25796 non-null  int64
 6   TEAM_ID_home      25796 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25796 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.1+ MB

In [14]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [203]:
df_ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201792 entries, 0 to 201791
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        201792 non-null  int64
 1   LEAGUE_ID      201792 non-null  int64
 2   SEASON_ID      201792 non-null  int64
 3   STANDINGSDATE  201792 non-null  object
 4   CONFERENCE     201792 non-null  object
 5   TEAM           201792 non-null  object
 6   G              201792 non-null  int64
 7   W              201792 non-null  int64
 8   L              201792 non-null  int64
 9   W_PCT          201792 non-null  float64
 10  HOME_RECORD    201792 non-null  object
 11  ROAD_RECORD    201792 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 20.0+ MB

In [202]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [2]:
deplasman = df_games[['OYUN_ID','EV_SAHIBI_TAKIM_ID', 'EV_SAHIBI_TAKIMIN_PUANY','MISAFIR_TAKIM_ID', 'DEPLASMAN_TAKIM_PUAN']]
deplasman

NameError: name 'df_games' is not defined

In [3]:
deplasman2 = df_games[['EV_SAHIBI_TAKIMIN_PUANY','DEPLASMAN_TAKIM_PUAN']]
deplasman2

NameError: name 'df_games' is not defined

In [205]:
df_game_details.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS'],
      dtype='object')

In [257]:
df_game_details.columns=["OYUN_ID","TAKIM_ID","TAKIM_KISALTMA","TAKIM_SEHİR","OYUNCU_ID","OYUNCU_ISIM","TAKMA_ISIM","BASLANGIC_KONUMU","OYNANAN_DAKIKA",'MACIN_OYNANMA_DK', 'SAHA_GOLLERIN_SAYISI',
       'DENENEN_SAHA_GOLLERİ', 'ŞUT_YÜZDESİ', '3LÜK_DENEMESİ', '3LÜK_YÜZDESİ', 'SERBEST_ATIŞ_SAYISI', 'SERBEST_ATIŞ_DENEMESİ', 'SERBEST_ATIŞ_YÜZDESİ', 'HÜCUM_PERF',
       'HUCUM_RIBAUND_YUZDESİ', 'DEFANSİF_RIBAUND', 'RIBAUND_YUZDESI', 'DESTEK_YUZDESİ', 'TOP_CALMA', 'BLOK_Y', 'KISISEL_FAUL', 'OYUNCUNUN_ATTIĞI_PUAN', 'ATILAN_PUAN_YUZDESİ',
       'PUAN_FARKI']
df_game_details.columns

Index(['OYUN_ID', 'TAKIM_ID', 'TAKIM_KISALTMA', 'TAKIM_SEHİR', 'OYUNCU_ID',
       'OYUNCU_ISIM', 'TAKMA_ISIM', 'BASLANGIC_KONUMU', 'OYNANAN_DAKIKA',
       'MACIN_OYNANMA_DK', 'SAHA_GOLLERIN_SAYISI', 'DENENEN_SAHA_GOLLERİ',
       'ŞUT_YÜZDESİ', '3LÜK_DENEMESİ', '3LÜK_YÜZDESİ', 'SERBEST_ATIŞ_SAYISI',
       'SERBEST_ATIŞ_DENEMESİ', 'SERBEST_ATIŞ_YÜZDESİ', 'HÜCUM_PERF',
       'HUCUM_RIBAUND_YUZDESİ', 'DEFANSİF_RIBAUND', 'RIBAUND_YUZDESI',
       'DESTEK_YUZDESİ', 'TOP_CALMA', 'BLOK_Y', 'KISISEL_FAUL',
       'OYUNCUNUN_ATTIĞI_PUAN', 'ATILAN_PUAN_YUZDESİ', 'PUAN_FARKI'],
      dtype='object')

In [207]:
df_games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [208]:
len(df_games.columns)

21

In [259]:
df_games = df_games.T.drop_duplicates().T
df_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,104.0,0.398,0.76,0.333,23.0,53.0,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,101.0,0.443,0.933,0.429,20.0,46.0,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,108.0,0.412,0.813,0.324,28.0,52.0,119.0,0.489,1.0,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,122.0,0.484,0.933,0.4,33.0,55.0,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,115.0,0.551,0.75,0.407,32.0,39.0,127.0,0.471,0.76,0.387,28.0,50.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25791,2014-10-06,11400007,Final,1610612737,1610612740,2014,93.0,0.419,0.821,0.421,24.0,50.0,87.0,0.366,0.643,0.375,17.0,43.0,1
25792,2014-10-06,11400004,Final,1610612741,1610612764,2014,81.0,0.338,0.719,0.381,18.0,40.0,85.0,0.411,0.636,0.267,17.0,47.0,0
25793,2014-10-06,11400005,Final,1610612747,1610612743,2014,98.0,0.448,0.682,0.5,29.0,45.0,95.0,0.387,0.659,0.5,19.0,43.0,1
25794,2014-10-05,11400002,Final,1610612761,1610612758,2014,99.0,0.44,0.771,0.333,21.0,30.0,94.0,0.469,0.725,0.385,18.0,45.0,1
25795,2014-10-04,11400001,Final,1610612748,1610612740,2014,86.0,0.431,0.679,0.333,18.0,42.0,98.0,0.462,0.706,0.438,19.0,42.0,0

In [213]:
len(df_games.columns)

19

In [260]:
df_games.columns=["OYUN_TARIHI","OYUN_ID","OYUN_DURUMU","EV_SAHIBI_TAKIM_ID","MISAFIR_TAKIM_ID","SEZON","EV_SAHIBI_TAKIMIN_PUANY","ES_SAHA_GOLY","ES_SERBEST_ATIS_YUZDESİ",'ES_3LUK_YUZDESİ', 'ES_ASSİST',
       'ES_RIBAUND', 'DEPLASMAN_TAKIM_PUAN', 'DT_SAHA_GOLY', 'DT_SERBEST_ATIŞ_SAYISI', 'DT_3LUK_YUZDESİ', 'DT_ASSİSST',
       'DT_RIBAUND_Y', 'ES_TAKIMIN_KAZANMA_Y']
df_games.columns

Index(['OYUN_TARIHI', 'OYUN_ID', 'OYUN_DURUMU', 'EV_SAHIBI_TAKIM_ID',
       'MISAFIR_TAKIM_ID', 'SEZON', 'EV_SAHIBI_TAKIMIN_PUANY', 'ES_SAHA_GOLY',
       'ES_SERBEST_ATIS_YUZDESİ', 'ES_3LUK_YUZDESİ', 'ES_ASSİST', 'ES_RIBAUND',
       'DEPLASMAN_TAKIM_PUAN', 'DT_SAHA_GOLY', 'DT_SERBEST_ATIŞ_SAYISI',
       'DT_3LUK_YUZDESİ', 'DT_ASSİSST', 'DT_RIBAUND_Y',
       'ES_TAKIMIN_KAZANMA_Y'],
      dtype='object')

In [216]:
len(df_games.OYUN_ID.unique())

25767

In [218]:
df_players.columns

Index(['PLAYER_NAME', 'TEAM_ID', 'PLAYER_ID', 'SEASON'], dtype='object')

In [261]:
df_players.columns=["OYUNCU_ADI","TAKIM_ID","OYUNCU_ID","SEZON"]
df_players.columns

Index(['OYUNCU_ADI', 'TAKIM_ID', 'OYUNCU_ID', 'SEZON'], dtype='object')

In [220]:
df_ranking.columns

Index(['TEAM_ID', 'LEAGUE_ID', 'SEASON_ID', 'STANDINGSDATE', 'CONFERENCE',
       'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD',
       'RETURNTOPLAY'],
      dtype='object')

In [262]:
df_ranking.columns=["TAKIM_ID","LIG_ID","SEZON_ID","PUAN_DURUM_TARIH","KONFERANS","TAKIM","SEZONDA_OYNANAN_MAC_SAYISI","KAZANILAN_MAC_SAYISI","KAYBEDILEN_MAC_SAYISI","KAZANC",'EV_SAHIBI_REKOR', 'YOL REKORU',
       'OYUNA_DONUS']
df_ranking.columns

Index(['TAKIM_ID', 'LIG_ID', 'SEZON_ID', 'PUAN_DURUM_TARIH', 'KONFERANS',
       'TAKIM', 'SEZONDA_OYNANAN_MAC_SAYISI', 'KAZANILAN_MAC_SAYISI',
       'KAYBEDILEN_MAC_SAYISI', 'KAZANC', 'EV_SAHIBI_REKOR', 'YOL REKORU',
       'OYUNA_DONUS'],
      dtype='object')

In [263]:
df_teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [264]:
df_teams.columns =["LIG_ID","TAKIM_ID","MIN_SAMPIYONLUK_YILI","MAX_SAMPIYONLUK_YILI","TAKIM_KISALTMA", "TAKMA_ISIM", "KURULUS_TARIHI", "TAKIM_SEHIR","ARENA","ARENA_KAPASITE",'SAHIBI', 'GENEL_MUDUR',
       'ANTRENOR','D_LIGI_ILISKISI']
df_teams.columns

Index(['LIG_ID', 'TAKIM_ID', 'MIN_SAMPIYONLUK_YILI', 'MAX_SAMPIYONLUK_YILI',
       'TAKIM_KISALTMA', 'TAKMA_ISIM', 'KURULUS_TARIHI', 'TAKIM_SEHIR',
       'ARENA', 'ARENA_KAPASITE', 'SAHIBI', 'GENEL_MUDUR', 'ANTRENOR',
       'D_LIGI_ILISKISI'],
      dtype='object')

In [265]:
df_players2 = df_players[['OYUNCU_ADI', 'SEZON']]
df_players2

            OYUNCU_ADI  SEZON
0        Royce O'Neale   2019
1     Bojan Bogdanovic   2019
2          Rudy Gobert   2019
3     Donovan Mitchell   2019
4          Mike Conley   2019
...                ...    ...
7223       Lanny Smith   2009
7224     Warren Carter   2009
7225      Bennet Davis   2009
7226    Brian Hamilton   2009
7227   Wesley Matthews   2009

[7228 rows x 2 columns]

In [266]:
#2018 sezonunda oynayan oyuncular
list_pd=["OYUNCU_ADI" ,"SEZON"]
df_players2.columns=list_pd
df_players2
df_players2[(df_players2['SEZON'] == 2018)]

         OYUNCU_ADI  SEZON
626   Kawhi Leonard   2018
627   Pascal Siakam   2018
628      Marc Gasol   2018
629     Danny Green   2018
630      Kyle Lowry   2018
...             ...    ...
1369  Tyrius Walker   2018
1370     Marcus Lee   2018
1371     Trey Lewis   2018
1372  Emanuel Terry   2018
1373   Justin Bibbs   2018

[748 rows x 2 columns]

In [286]:
df_ranking.groupby("TAKIM").size()

TAKIM
Atlanta                      6738
Boston                       6740
Brooklyn                     3446
Charlotte                    6364
Chicago                      6739
Cleveland                    6738
Dallas                       6741
Denver                       6739
Detroit                      6738
Golden State                 6740
Houston                      6740
Indiana                      6738
L.A. Clippers                4384
L.A. Lakers                  6738
LA Clippers                  2354
Memphis                      6740
Miami                        6739
Milwaukee                    6740
Minnesota                    6740
New Jersey                   3292
New Orleans                  6060
New Orleans/Oklahoma City     678
New York                     6740
Oklahoma City                4911
Orlando                      6738
Philadelphia                 6738
Phoenix                      6738
Portland                     6738
Sacramento                   6738
San Antonio                  6738
Seattle                      1831
Toronto                      6738
Utah                         6738
Washington                   6740
dtype: int64

In [272]:
#Sezonlarda oynanan maç sayısı
oynanan_sezon= df_players.groupby("SEZON").size()
oynanan_sezon

SEZON
2009    597
2010    623
2011    582
2012    637
2013    653
2014    697
2015    668
2016    675
2017    722
2018    748
2019    626
dtype: int64

In [273]:
sezon_ozeti = df_ranking[['TAKIM', 'SEZON_ID', 'SEZONDA_OYNANAN_MAC_SAYISI', 'KAZANILAN_MAC_SAYISI', 'KAYBEDILEN_MAC_SAYISI']]
sezon_ozeti

,TAKIM,SEZON_ID,SEZONDA_OYNANAN_MAC_SAYISI,KAZANILAN_MAC_SAYISI,KAYBEDILEN_MAC_SAYISI
0,Phoenix,22021,67,53,14
1,Golden State,22021,68,46,22
2,Memphis,22021,68,46,22
3,Utah,22021,67,42,25
4,Dallas,22021,67,41,26
...,...,...,...,...,...
201787,Detroit,22013,82,29,53
201788,Boston,22013,82,25,57
201789,Orlando,22013,82,23,59
201790,Philadelphia,22013,82,19,63
201791,Milwaukee,22013,82,15,67

In [275]:
ef_team_arena = df_teams[['ARENA_KAPASITE', 'TAKIM_ID']]
bf_team_win = df_games[['EV_SAHIBI_TAKIM_ID', 'ES_TAKIMIN_KAZANMA_Y']] 
print(pd.merge(ef_team_arena, bf_team_win, left_on='TAKIM_ID', right_on='EV_SAHIBI_TAKIM_ID')[['ARENA_KAPASITE', 'ES_TAKIMIN_KAZANMA_Y']])

       ARENA_KAPASITE ES_TAKIMIN_KAZANMA_Y
0             18729.0                    1
1             18729.0                    1
2             18729.0                    1
3             18729.0                    1
4             18729.0                    0
...               ...                  ...
25791         19596.0                    1
25792         19596.0                    1
25793         19596.0                    1
25794         19596.0                    1
25795         19596.0                    1

[25796 rows x 2 columns]

In [277]:
#Arena kapasitesinin kazanma oranına etkisi
data= { 'Arena_kap_aralık': [], 'Kazanma_oranı': []} 
filtre2 = pd.merge(ef_team_arena, bf_team_win, left_on='TAKIM_ID', right_on='EV_SAHIBI_TAKIM_ID')[['ARENA_KAPASITE', 'ES_TAKIMIN_KAZANMA_Y']]
for i in range(17000, 22000,1000):    
    kazan_mac = len(filtre2[(filtre2['ARENA_KAPASITE'] <= i+1000) & (filtre2['ARENA_KAPASITE'] > i) & (filtre2['ES_TAKIMIN_KAZANMA_Y'] == 1)].index)
    toplam_mac = len(filtre2[(filtre2['ARENA_KAPASITE'] <= i+1000) & (filtre2['ARENA_KAPASITE'] > i)].index) 
    formatted = str.format("{}k-{}k",i/1000, i/1000 + 1)
    data['Arena_kap_aralık'].append(formatted)
    data['Kazanma_oranı'].append(kazan_mac/toplam_mac)
arena_kazanma_df = pd.DataFrame(data)
arena_kazanma_df

  Arena_kap_aralık  Kazanma_oranı
0      17.0k-18.0k       0.535928
1      18.0k-19.0k       0.634641
2      19.0k-20.0k       0.592672
3      20.0k-21.0k       0.590988
4      21.0k-22.0k       0.578947

In [278]:
#Ev sahibi takımın kazanıp kaybetme sayıları
df_games.groupby("ES_TAKIMIN_KAZANMA_Y").size()

ES_TAKIMIN_KAZANMA_Y
0    10641
1    15155
dtype: int64

In [281]:
#Kişisel faul oranı 5 den büyük olan oyuncular listesi
filtered_af = df_game_details[df_game_details['KISISEL_FAUL'] >= 5]
filtered_af
faul_yapan_oyuncular = filtered_af[['OYUNCU_ID', 'OYUNCU_ISIM', 'KISISEL_FAUL']]
faul_yapan_oyuncular

        OYUNCU_ID       OYUNCU_ISIM  KISISEL_FAUL
4         1626156  D'Angelo Russell           5.0
29        1629636    Darius Garland           6.0
198        202704    Reggie Jackson           5.0
248       1629636    Darius Garland           7.0
274       1629029       Luka Doncic           5.0
...           ...               ...           ...
645868     202227     Terrel Harris           5.0
645875     202349   Greivis Vasquez           5.0
645933     202339      Eric Bledsoe           5.0
645937       2440       Matt Barnes           5.0
645952     201951         Ty Lawson           6.0

[17987 rows x 3 columns]